body {
    background-image: url(2.jpg);
    opacity: 59;
    width: auto;
    
}
h1 {
color: rgb(248, 239, 239);
width: auto;
text-align: center;
opacity: 0.5;

}
div {
    width: auto;
    opacity: 0.8;
    text-align: center;
}